/* Global Styles */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}


body {
    background-color: #585962;
    font-family: sans-serif;
    box-sizing: border-box;
  }

  /* Hero Section */
.hero-section {
  background-image: url('./images/cyberbanner.png');
  background-size: cover;
  background-position: center;
  color: white;
  text-align: center;
  padding: 50px 0;
}

.hero-title {
  font-size: 4rem;
  margin-bottom: 20px;
}

.hero-text {
  font-size: 1.5rem;
  margin-bottom: 40px;
}

/* Main Content */
main {
  max-width: 800px;
  margin: 0 auto;
  padding: 20px;
}

.sliderDiv{
  margin: 0 auto;
  text-align: center;
  padding-bottom: 15px;
  color: #acacbe;
}

  .container {
    display: grid;
    grid-template-columns: repeat(16, 1fr);
    grid-template-rows: repeat(16, 1fr);
    gap: 1px;
    width: 600px; /* Set the width of the container */
    margin: 0 auto; /* Center the container */
  }

 
  .square {
    background-color: #3498db;
    border: 1px solid black; /* Add a border to the squares */
    transition: background-color 0.2s ease-in-out;
    padding-bottom: 100%; /* Set the padding-bottom to create a square */
  }

  .button-container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
  }

  button {
    padding: 10px 20px;
    font-size: 1rem;
    border: none;
    background-color: #4CAF50;
    color: white;
    cursor: pointer;
    transition: background-color 0.3s ease-in-out;
    border-radius: 3px;
  
}

button:hover {
    background-color: #3E8E41;
}
  
  #blackButton {
    background-color: #333;
}

#rainbowButton {
    background: linear-gradient(to right, red, orange, yellow, green, blue, indigo, violet);
    color: white;
}

#resetButton {
    background-color: #F44336;
}

  .slider-container {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 20px;
  }
  
  .slider {
    width: 100%;
    margin-right: 10px;
  }
  
  .slider-value {
    font-size: 24px;
    font-weight: bold;
  }

  .button-container {
    display: flex;
    justify-content: space-evenly;
    margin-bottom: 40px;
    align-items: center;
  }
   /* Make the squares responsive */
   @media (max-width: 600px) {
    .container {
      width: 100%;
    }
 }