body {
    background-color: #ddd;
    font-family: sans-serif;
  }
  .container {
    display: grid;
    grid-template-columns: repeat(16, 1fr);
    grid-template-rows: repeat(16, 1fr);
    gap: 1px;
    width: 600px; /* Set the width of the container */
    margin: 0 auto; /* Center the container */
  }

 
  .square {
    background-color: #3498db;
    border: 1px solid black; /* Add a border to the squares */
    transition: background-color 0.2s ease-in-out;
    padding-bottom: 100%; /* Set the padding-bottom to create a square */
  }

  .button-container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
  }

  .button {
    display: inline-block;
    background-color: #4CAF50;
    border: none;
    color: white;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    font-size: 16px;
    margin: 0px 10px;
    cursor: pointer;
    border-radius: 20px;
    transition: all 0.3s ease-in-out;
  }
  
  .button:hover {
    background-color: #3e8e41;
    transform: translateY(-2px);
    box-shadow: 0 2px 4px rgba(0,0,0,0.2);
  }
  
  #rainbowButton {
    background-color: #FFC107;
    padding: 12px 25px;
    font-size: 18px;
  }
  
  #blackButton {
    background-color: #222;
    padding: 12px 25px;
    font-size: 18px;
  }
  
  #resetButton {
    background-color: #f44336;
    padding: 12px 25px;
    font-size: 18px;
  }

  .slider-container {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 20px;
  }
  
  .slider {
    width: 100%;
    margin-right: 10px;
  }
  
  .slider-value {
    font-size: 24px;
    font-weight: bold;
  }

   /* Make the squares responsive */
   @media (max-width: 600px) {
    .container {
      width: 100%;
    }

    .button-container {
        flex-wrap: wrap;
    }
  }